
@use "./util.scss" as *;

.beat {
	@extend %default;
	animation-name: beat;

	@keyframes beat {
		from,
		90% { transform: scale(1); }
		45% { transform: scale(custom(beatScale, 1.25)); }
	}
}

.fade {
	@extend %default;
	animation-name: fade;
	animation-timing-function: custom(animationTimingFunction, cubic-bezier(0.4, 0, 0.6, 1));

	@keyframes fade {
		50% { opacity: custom(fadeOpacity, 0.4); }
	}
}

.beatFade {
	@extend %default;
	animation-name: beatFade;
	animation-timing-function: custom(animationTimingFunction, cubic-bezier(0.4, 0, 0.6, 1));

	@keyframes beatFade {
		from,
		to {
			transform: scale(1);
			opacity: custom(beatFadeOpacity, 0.4);
		}

		50% {
			transform: scale(custom(beatFadeScale, 1.125));
			opacity: 1;
		}
	}
}

.bounce {
	@extend %default;
	animation-name: bounce;
	animation-timing-function: custom(animationTimingFunction, cubic-bezier(0.28, 0.84, 0.42, 1));

	@keyframes bounce {
		from { transform: scale(1) translateY(0); }
		10% { transform: scale(custom(bounceStartScaleX, 1.1), custom(bounceStartScaleY, 0.9)) translateY(0); }
		30% { transform: scale(custom(bounceJumpScaleX, 0.9), custom(bounceJumpScaleY, 1.1)) translateY(custom(bounceJumpHeight, -0.5em)); }
		50% { transform: scale(custom(bounceLandScaleX, 1.05), custom(bounceLandScaleY, 0.95)) translateY(0); }
		57% { transform: scale(1) translateY(custom(bounceRebound, -0.125em)); }
		64% { transform: scale(1) translateY(0); }
		to { transform: scale(1) translateY(0); }
	}
}

.flip {
	@extend %default;
	animation-name: flip;
	
	@keyframes flip {
		50% { transform: rotate3d(custom(flipX, 0), custom(flipY, 1), custom(flipZ, 0), custom(flipAngle, -180deg)); }
	}
}

.shake {
	@extend %default;
	animation-name: shake;
	animation-timing-function: custom(animationTimingFunction, linear);

	@keyframes shake {
		from { transform: rotate(-15deg); }
		4% { transform: rotate(15deg); }
		8%,
		24% { transform: rotate(-18deg); }
		12%,
		28% { transform: rotate(18deg); }
		16% { transform: rotate(-22deg); }
		20% { transform: rotate(22deg); }
		32% { transform: rotate(-12deg); }
		36% { transform: rotate(12deg); }
		40%,
		to { transform: rotate(0deg); }
	}
}

.spin {
	@extend %default;
	animation-name: spin;
	animation-duration: custom(animationDuration, 2s);
	animation-timing-function: custom(animationTimingFunction, linear);

	@keyframes spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(1turn); }
	}
}

.pulse {
	@extend %default;
	animation-name: spin;
	animation-timing-function: custom(animationTimingFunction, steps(8));
}